<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/layout.css" />
    <style>
    </style>
  </head>
  <body>
  <app-root>
    <div class="make-footer-sticky">
      <ci-header>
        <header class="header-wrapper">
          <div class="header">
            <div class="header-logo-container">
              <img class="header-logo" src="/public/images/capital-one-logo.svg" alt="Capital One Homepage" />
            </div>
            <div class="header-menu">
              <ul class="margin-none">
                <li class="header-menuitem">
                  <button class="header-button">
                    <span>
                      <img alt="Country Flag" class="header-country-flag" src="/public/images/us-flag.svg" />
                    </span>
                    <span>
                    <svg class="header-arrow-icon" viewBox="0 0 19.3 12.21"><path d="M19.3 2.56L16.73 0 9.65 7.08 2.56 0 0 2.56l9.65 9.65 9.65-9.65"></path></svg>
                    </span>
                  </button>
                </li>
                <li class="header-menuitem">
                  <button class="header-button">
                    <span>English</span>
                    <span>
                    <svg class="header-arrow-icon" viewBox="0 0 19.3 12.21"><path d="M19.3 2.56L16.73 0 9.65 7.08 2.56 0 0 2.56l9.65 9.65 9.65-9.65"></path></svg>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </header>
      </ci-header>
      <div class="main-body">
        <app-sign-in>
          <ci-content-card>
          <div class="login-card">
          <img class="sign-in-card_title-image" src="/public/images/icon-user.svg" />
            <h3><%= title %></h3>
            <%- body %>
            <div class="login-help">
              <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
              <% if (client.tosUri) { %>
                <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
              <% } %>
              <% if (client.policyUri) { %>
                <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
              <% } %>
            </div>
          </div>
          </ci-content-card>
        </app-sign-in>
          <div class="grant-debug">
            <details>
              <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
              <div>
                <strong>uid</strong>: <%= uid %>
              </div>

              <% if (session) { %>
              <div>
                SESSION <br>
              ========= <br>
                <%- session %>
              </div>
              <% } %>

              <div>
                PARAMS <br>
              ======== <br>
                <%- dbg.params %>
              </div>

              <div>
                PROMPT <br>
              ======== <br>
                <%- dbg.prompt %>
              </div>
            </details>
          </div>
      </div>
    </div>
    <ci-footer>
      <footer>
        <div class="footer">
          <nav class="footer-nav footer-width">
            <div class="footer-nav-wrapper">
              <ul class="footer-navbar">
                <li class="footer-has-subnav">
                  <button>Products</button>
                </li>
                <li class="footer-has-subnav">
                  <button>About Us</button>
                </li>
                <li class="footer-has-subnav">
                  <button>Careers</button>
                </li>
                <li class="footer-has-subnav">
                  <button>Legal</button>
                </li>

              </ul>
              <ul class="footer-navbar">
                <li>
                  <a>Contact Us</a>
                </li>
                <li>
                  <a>Privacy</a>
                </li>
                <li>
                  <a>Security</a>
                </li>
                <li>
                  <a>Terms & Conditions</a>
                </li>
                <li>
                  <a>Accessibility</a>
                </li>
              </ul>
            </div>
            <div class="footer-social-media">
              <a class="twitter" ></a>
              <a class="facebook" ></a>
              <a class="you-tube" ></a>
              <a class="linkedin" ></a>
              <a class="instagram" ></a>
            </div>
          </nav>
          <div class="footer-branding footer-width">
            <div class="id">
              <a class="logo" aria-label="Capial One"></a>
              <span _ngcontent-mdc-c3="" class="copyright margin-top-xsmall">©2019 Capital One</span>
            </div>
            <div class="assoc">
              <a class="fdic" id="fdic" aria-label="Member FDIC"></a>
              <span class="ehl">Equal Housing Lender</span>
            </div>
          </div>
        </div>
      </footer>
    </ci-footer>
    </app-root>
  </body>
</html>
